* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: yellow;
    font-family: 'Acumin Variable Concept', sans-serif;
}

img {
    width: 404px;
    height: 202px;
}

header p {
    text-align: center;
}

.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 50px 0px 30px 0px;
    text-align: center;
    font-size: 40px;
}

header p {
    font-size: 20px;
}

.pads {
    background: lightblue;
    width: 100%;
    display: flex;
}

.pads > div { /*select all divs in .pads */
    height: 100px;
    width: 100px;
    flex: 1;
 }

 .pad1 {
     background: #571845;
 }

 .pad2 {
    background: #ffc300;
}

.pad3 {
    background: #900c3e;
}

.pad4 {
    background: #ff5733;
}

.pad5 { 
    background: #00f784;
}

.pad6 {
    background: #f309d4;
}

@keyframes jump {
    0% {
        bottom: 0%;
        left: 20%;
    }
    50% {
        bottom: 50%;
        left: 50%;
    }
    100% {
        bottom: 0%;
        left: 80%;
    }
    
}

.visual > div {
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%; 
    bottom: 0%;
    left: 20%;
    bottom: 0%;
    z-index: -1;
}





